body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(at 95.29433042616736% 85.54002935896851%, hsla(36.23529411764706, 100%, 50%, 1) 0%, hsla(36.23529411764706, 100%, 50%, 0) 100%), radial-gradient(at 91.79486263038298% 13.214900968067301%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 1) 0%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 0) 100%), radial-gradient(at 59.397339253324375% 7.122519441833619%, hsla(36.23529411764706, 100%, 50%, 1) 0%, hsla(36.23529411764706, 100%, 50%, 0) 100%), radial-gradient(at 86.77355117510915% 59.252989057663626%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 1) 0%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 0) 100%), radial-gradient(at 95.8072944160649% 95.32806516072299%, hsla(36.23529411764706, 100%, 50%, 1) 0%, hsla(36.23529411764706, 100%, 50%, 0) 100%), radial-gradient(at 18.265810664806125% 25.65499890829256%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 1) 0%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 0) 100%), radial-gradient(at 59.50206118272654% 97.49541110716335%, hsla(36.23529411764706, 100%, 50%, 1) 0%, hsla(36.23529411764706, 100%, 50%, 0) 100%), radial-gradient(at 92.83071400316152% 77.94945560782504%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 1) 0%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 0) 100%), radial-gradient(at 96.56263983751298% 1.7799397538543538%, hsla(36.23529411764706, 100%, 50%, 1) 0%, hsla(36.23529411764706, 100%, 50%, 0) 100%), radial-gradient(at 88.74073905727448% 44.296870270866386%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 1) 0%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 0) 100%), radial-gradient(at 53.23633462587362% 69.66547341257903%, hsla(36.23529411764706, 100%, 50%, 1) 0%, hsla(36.23529411764706, 100%, 50%, 0) 100%), radial-gradient(at 55.078330882333844% 2.27094974432126%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 1) 0%, hsla(234.84662576687114, 73.09417040358743%, 43.72549019607843%, 0) 100%);
}

th{
    border:2px solid rgba(27, 25, 25, 0.384);
    border-radius: 15%;
    padding: 10px;
    color:white;
    background-color: rgb(53, 53, 53);
}

#pepe {
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.GuardarB {
    border-radius: 50px;
}

#ProdT {
    border-radius: 50px;

}

#DescT {
    border-radius: 50px;

}

#PreT {    border-radius: 50px;
}

#CanT {
    border-radius: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

section{
    padding: 15px;

}